{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter List</title>
    <link rel="stylesheet" href="{% static 'candidatelist.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Candidate List</h1>
            <p>View registered Candidates for the digital election</p>
        </header>
        <section class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Post</th>
                        <th>party</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in obj%}
                    <tr>
                        <td>{{i.candidate_id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.post}}</td>
                        <td>{{i.party}}</td>
                        <td><a href=""><button>Vote</button></a></td>
                    </tr>
                    {%endfor%}
                   
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>