{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'otp.css'%}" />
    <title>Voter sign-up</title>
  </head>
  <body>
    <form action="" method="post" >
      {% csrf_token %}
    <div class="main-container">
      <div class="left-card-1">
        <div class="head-text">
          <h1 class="h-1">Enter OTP</h1>
          <p class="p-1">Enter 4 Digits OTP Send To Your Number.</p>
        </div>
        <div class="otp-inputs">
            <input type="text" maxlength="7"  name="otp" />
            <!-- <input type="text" maxlength="1" class="otp-field" />
            <input type="text" maxlength="1" class="otp-field" />
            <input type="text" maxlength="1" class="otp-field" /> -->
          </div>
          <button class="createBtn">Verify OTP</button>
        
        <!-- <button class="existingAc">Resend OTP</button> -->
      </div>
    </form>

      <div class="right-card-1">
        <div class="logo-text">
          <h1 class="logo-h1">Vott<span>e</span></h1>
        </div>
        <div class="logo-p">
          <p>Voting Made</p>
          <p class="easy">Easy.</p>
        </div>
      </div>
    </div>
  </body>
</html>
