{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votte - sign-up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
    
    <div class="container">
    <div class="border-box">
        <div class="header-box">
            <h1 class="h-1-txt">Your vote Counts,<br>Make It Happen Online.</h1>
        </div>
        <p class="para1">Votte makes voting easy fare and secure.</p>
    </div>
    </div>
    <div class="btns">
        <button class="buttonOrg" onclick=""><a href="/Register">Organizer</a></button>
        <button class="buttonVot" onclick=""><a href="/VoterSignUp">Voter</a></button>
    </div>
    <p class="existingac">Already have an account?<a href="/MainSign/">Sign in.</a></p>
</body>
</html>